/*Estilo de toda la página*/
body{
	background-image: url("img/helados2.jpg");
	font-family: Arial;
	text-align: center;
	/*text-align: center;*/
	background-position: center center;
    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;
    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando la altura del contenido supere la altura de la imagen. */
    background-attachment: fixed;
    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana del navegador */
    background-size: cover;
    /* Fijamos un color de fondo para que se muestre mientras se está cargando la imagen de fondo o si hay problemas para cargarla  */
    background-color: #464646;
}

#main-container{
	margin: 105px auto;
	width: 600px;
}
/*Darle estilo al encabezado */
h1{
	font-weight: normal;
	color: #A901DB;
	font-family: Times New Roman, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 250%;
}
/*Darle estilo a la tabla*/
table{
	background-color: white;
	text-align: left;
	/*Quitar bordes de las celdas*/
	border-collapse: 0;
	width: 100%;
}

th, td{
	/*espacio entre celdas*/
	padding: 20;
}
/*Encabezado de la tabla*/
thead{
	background-color: #013ADF;
	border-bottom: solid 5px #0489B1;
	color: white;
}
/*iluminar las celdas hijos par sin seleccionar el encabezado*/
tr:nth-child(even){
	background-color: #ddd;
}
/*iluminar las filas a exepcion del encabezado*/
tr:hover td{
	background-color: #A9D0F5;
	color:white;
}
/*contenedor de los botones*/
div{
	position: absolute;
	top: 500px;
	bottom: 0;
	right: 0;
	left: 0;
}
/*Estilos a los botones*/
.button{
	text-decoration: none;
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
	background-color: #1883ba;
	border-radius: 6px;
	border: 2px solid #0016b0;

}
/*Accion cuando pasamos el ratón por encima del botón*/
.button:hover{
	color: #1883ba;
	background-color: #ffffff;
}
